<div class="container">
  <mat-form-field class="filtro">
    <mat-label>Filtro de Busqueda</mat-label>
    <input matInput #input autocomplete="off">
  </mat-form-field>
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-md-3" *ngFor="let curso of cursos$ | async">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{ curso.nombre }}</mat-card-title>
                <mat-card-subtitle>{{ curso.comision }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="http://res.cloudinary.com/hdsqazxtw/image/upload/v1570710978/coderhouse.jpg">
              <mat-card-content>
                <p>Dictado por:  {{ curso.profesor.nombre }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary">
                  Editar
                </button>
                <button mat-button color="warn">
                  Eliminar
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
