
.sub-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-top: 80px;
  margin-left: 10%;
  margin-bottom: -.5%;
  background-color: #333755;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px;
}

.alumnos {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: .06rem;
}

table {
  width: 80%;
  margin-left: 10%;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin-bottom: 30px;
}

th {
  width: 20%;
  color: #27243ae8;
  font-size: .85rem;
  font-weight: bold;
}

td{
  color: black;
}

.pointer {
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  margin: 0% 10% 0% 10%;
}

.mat-raised-button{
  background-color: #D16838;
  color: #fffffe;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: .05rem;
  height: 3rem;
}

mat-label{
  color: #BBB7B9;
}